In [2]:
import pandas as pd

In [3]:
#Read the file into a dataframe
df = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv', header=1)

In [4]:
df.head(10)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
5,06,06,2012,31,67,14,0,82.6,5.8,22.2,3.1,7,2.5,fire
6,07,06,2012,33,54,13,0,88.2,9.9,30.5,6.4,10.9,7.2,fire
7,08,06,2012,30,73,15,0,86.6,12.1,38.3,5.6,13.5,7.1,fire
8,09,06,2012,25,88,13,0.2,52.9,7.9,38.8,0.4,10.5,0.3,not fire
9,10,06,2012,28,79,12,0,73.2,9.5,46.3,1.3,12.6,0.9,not fire

In [5]:
'''
The dataset has two tables and divided as regions.
We will store the data in two seperate dataFrame and then concatenate the same
'''

'\nThe dataset has two tables and divided as regions.\nWe will store the data in two seperate dataFrame and then concatenate the same\n'

In [6]:
#Cleaning and merging file
df.iloc[:122,:]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,26,09,2012,31,54,11,0,82,6,16.3,2.5,6.2,1.7,not fire
118,27,09,2012,31,66,11,0,85.7,8.3,24.9,4,9,4.1,fire
119,28,09,2012,32,47,14,0.7,77.5,7.1,8.8,1.8,6.8,0.9,not fire
120,29,09,2012,26,80,16,1.8,47.4,2.9,7.7,0.3,3,0.1,not fire
121,30,09,2012,25,78,14,1.4,45,1.9,7.5,0.2,2.4,0.1,not fire

In [7]:
df.iloc[124:,:]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
124,01,06,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire
125,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire
126,03,06,2012,29,80,14,2,48.7,2.2,7.6,0.3,2.6,0.1,not fire
127,04,06,2012,30,64,14,0,79.4,5.2,15.4,2.2,5.6,1,not fire
128,05,06,2012,32,60,14,0.2,77.1,6,17.6,1.8,6.5,0.9,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [8]:
#Final concatenated file
df_final = df.iloc[:122,:].append(df.iloc[124:,:])

In [9]:
df_final[df_final.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [10]:
df_final = df_final.dropna().reset_index(drop=True)

In [11]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    object
 1   month        243 non-null    object
 2   year         243 non-null    object
 3   Temperature  243 non-null    object
 4    RH          243 non-null    object
 5    Ws          243 non-null    object
 6   Rain         243 non-null    object
 7   FFMC         243 non-null    object
 8   DMC          243 non-null    object
 9   DC           243 non-null    object
 10  ISI          243 non-null    object
 11  BUI          243 non-null    object
 12  FWI          243 non-null    object
 13  Classes      243 non-null    object
dtypes: object(14)
memory usage: 26.7+ KB

In [12]:
df_final.shape

(243, 14)

In [13]:
df_final.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

In [14]:
#Removing the spaces from the col names
df_final.columns = df_final.columns.str.strip()

In [15]:
df_final['Classes'].value_counts()

fire             131
not fire         101
fire               4
not fire           2
fire               2
not fire           1
not fire           1
not fire           1
Name: Classes, dtype: int64

In [16]:
#Here we observe that the classes col has value with lof of spaces
df_final.Classes = df_final.Classes.str.strip()

In [17]:
df_final['Classes'].value_counts()

fire        137
not fire    106
Name: Classes, dtype: int64

In [18]:
#Converting the classes col to number to perform the binary classification
df_final['Classes'] = df_final['Classes'].map({"not fire":0, "fire": 1})

In [19]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    object
 1   month        243 non-null    object
 2   year         243 non-null    object
 3   Temperature  243 non-null    object
 4   RH           243 non-null    object
 5   Ws           243 non-null    object
 6   Rain         243 non-null    object
 7   FFMC         243 non-null    object
 8   DMC          243 non-null    object
 9   DC           243 non-null    object
 10  ISI          243 non-null    object
 11  BUI          243 non-null    object
 12  FWI          243 non-null    object
 13  Classes      243 non-null    int64
dtypes: int64(1), object(13)
memory usage: 26.7+ KB

In [20]:
# Converting the datatype of X to numeric(float)
name = ['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI']

In [21]:
df_final[name]=df_final[name].astype(float)

In [225]:
#Claeaned dataset and handled the data-type as well for EDA and model building
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    float64
 1   month        243 non-null    float64
 2   year         243 non-null    float64
 3   Temperature  243 non-null    float64
 4   RH           243 non-null    float64
 5   Ws           243 non-null    float64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 26.7 KB

In [22]:
#Creating the X and y dataset
X = df_final.iloc[:,:-1]
y = df_final.iloc[:,-1]

In [27]:
#Lets build the model
#First build train and test data
#second scale the data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [28]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.30,random_state=25)

In [29]:
#Function for scaling data
def scale_data(a,b):
    scaler = StandardScaler()
    scaled_a = scaler.fit_transform(a)
    scaled_b = scaler.transform(b)

    return scaled_a,scaled_b

In [30]:
X_train,X_test = scale_data(X_train,X_test)

In [67]:
# Now build a regularized/ensemble model
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score,confusion_matrix

In [47]:
rfc = RandomForestClassifier()

In [70]:
rfc.fit(X_train,y_train)
y_pred_rc = rfc.predict(X_test)
cm = confusion_matrix(y_test,y_pred_rc)
roc_auc = roc_auc_score(y_test,y_pred_rc)

print("Random Forest Classifier Model performance is as below:")
print(f'confusion metrics : {cm}')
print(f'roc_auc : {roc_auc}')

Random Forest Classifier Model performance is as below:
confusion metrics : [[27  0]
 [ 1 45]]
roc_auc : 0.9891304347826086

In [58]:
import numpy as np

In [63]:
parm = {
"n_estimators":[50,100,150,200,250],
"criterion":['gini','entropy']
}

In [64]:
from sklearn.model_selection import GridSearchCV
gcv = GridSearchCV(rfc,parm,cv=5)
gcv.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'n_estimators': [50, 100, 150, 200, 250]})

In [65]:
best_rc = gcv.best_estimator_
best_rc.score(X_train,y_train)
pred = best_rc.predict(X_test)

In [71]:
gcv_cm = confusion_matrix(y_test,pred)
gcv_roc_auc = roc_auc_score(y_test,pred)

print("Random Forest Classifier Grid Search Model performance is as below:")
print(f'confusion metrics : {gcv_cm}')
print(f'roc_auc : {gcv_roc_auc}')

Random Forest Classifier Grid Search Model performance is as below:
confusion metrics : [[27  0]
 [ 2 44]]
roc_auc : 0.9782608695652174

In [73]:
import pickle

In [74]:
pickle.dump(rfc,open("model_rc.pkl","wb"))

In [75]:
# We have serialized the RandomForest Classifier model for further use

In [6]:
import pickle
import numpy as np

In [3]:
model=pickle.load(open('model_rc.pkl','rb'))

In [10]:
data = [3.0, 8.0, 2022.0, 29.0, 57.0, 18.0, 0.0, 65.7, 7.6, 1.3, 7.2, 3.4, 0.5]

In [16]:
final_features = [np.array(data)]
final_features

[array([3.000e+00, 8.000e+00, 2.022e+03, 2.900e+01, 5.700e+01, 1.800e+01,
        0.000e+00, 6.570e+01, 7.600e+00, 1.300e+00, 7.200e+00, 3.400e+00,
        5.000e-01])]

In [17]:
output = model.predict(final_features)

In [14]:
output[0]

1